<section class="hero-banner lazyload" data-bgset="
/img/banners/hero-banner-mobile.jpg [(max-width: 767px)] |
/img/banners/hero-banner-tablet.jpg [(max-width: 1199px)] |
/img/banners/hero-banner-desktop.jpg [(max-width: 1440px)] |
/img/banners/hero-banner-desktop-wide.jpg [(min-width: 1441px)] |
">
<div class="container">
  <p class="section-title">Engage. Learn.<br> Thrive.</p>
  <p class="section-desc hidden-xs hidden-sm">CharityConnect helps charity professionals, trustees and volunteers interact, share ideas and discover new opportunities in the sector.</p>
  <a href="#" class="btn-primary">Get started</a>
  <div class="scroll-down">
    <p>Explore CharityConnect</p>
    <div class="logo-icon-wrapper hidden-xs hidden-sm"><img src="/img/icons/logo-icon.svg" alt=""></div>
    <div class="btn-scroll-down"><span></span></div>
  </div>
</div>
</section>
