%baseButton {
  display: inline-block;
  border-radius: 2px;
  @include transition(all .2s ease-out);
  cursor: pointer;
  &:disabled {
    opacity: 0.35;
    pointer-events: none;
  }
}

.btn-inactive-grey,
.btn-orange {
  @extend %baseButton;
  padding: 0 10px;
  color: #fff;
  line-height: 34px;
  border: 0;
  [class^="icon-"] {
    display: inline-block;
    margin: 9px 3px 0 0;
    vertical-align: top;
  }
  &:hover {
    color: #fff;
    background: #2b2e83;
  }
  &:focus {
    outline: none;
  }
}

.btn-inactive-grey {
  background: #b3b2b2;
  pointer-events: none;
  &.active {
    font-weight: 700;
    background: #2daae1;
    pointer-events: auto;
  }
}
.btn-orange {
  background: #f39407;
  font-weight: 700;
}
