html {
  font-size: 62.5%; // for easy rem calculation
}
body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  color: $baseFontColor;
  letter-spacing: $standardLetSpacing;
  -webkit-font-smoothing: antialiased;
  background: #2b2e83;
  &.body-support-mobile {
    background: #4e4d4d;
  }
}
a {
  color: #27aae1;
  text-decoration: none;
  @include transition(all .2s ease);
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
p {
  margin: 0 0 1rem;
}
img {
  max-width: 100%;
}
.is-hidden {
  display: none;
}
.wrapper {
  overflow: hidden;
  @media (max-width: 1199px) {
    padding: 0 15px;
  }
  @media (max-width: 991px) {
    padding: 0px 9px;
  }
  @media (max-width: 767px) {
    padding: 0px 5px;
  }
}
.content-wrapper {
  max-width: calc(100% - 30px);
  margin: 0 auto;
  background: #f2f3f4;
  border-radius: 5px;
  overflow: hidden;
  @media (max-width: 1199px) {
    max-width: 100%;
  }
}
.container-increase {
  width: calc(100% + 50px);
  margin-left: -25px;
  padding: 0 25px;
  @media (max-width: 1199px) {
    width: 100%;
    margin: 0;
  }
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}
