.icon-device-windows,
.icon-device-macos,
.icon-device-android,
.icon-device-ios {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0;
  background-size: cover;
  // not needed now
  // &.inactive {
  //   opacity: .6;
  //   &:before {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 26px;
  //     height: 26px;
  //     border: 2px solid #e30b18;
  //     border-radius: 50%;
  //   }
  //   &:after {
  //     content: '';
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     display: block;
  //     height: 2px;
  //     width: 26px;
  //     margin-top: -1px;
  //     margin-left: -13px;
  //     background-color: #e30b18;
  //     transform: rotate(45deg);
  //   }
  // }
}
.icon-device-windows {
  background-image: url(../img/device-windows-active.png);
  &.inactive {
    background-image: url(../img/device-windows-inactive.png);
  }
  &.disabled {
    background-image: url(../img/device-windows-disabled.png);
  }
}
.icon-device-macos {
  background-image: url(../img/device-macos-active.png);
  &.inactive {
    background-image: url(../img/device-macos-inactive.png);
  }
  &.disabled {
    background-image: url(../img/device-macos-disabled.png);
  }
}
.icon-device-android {
  background-image: url(../img/device-android-active.png);
  &.inactive {
    background-image: url(../img/device-android-inactive.png);
  }
  &.disabled {
    background-image: url(../img/device-android-disabled.png);
  }
}
.icon-device-ios {
  background-image: url(../img/device-ios-inactive.png);
  &.inactive {
    background-image: url(../img/device-ios-inactive.png);
  }
  &.disabled {
    background-image: url(../img/device-ios-disabled.png);
  }
}
