@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?o33ow3');
  src:  url('/fonts/icomoon.eot?o33ow3#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?o33ow3') format('truetype'),
    url('/fonts/icomoon.woff?o33ow3') format('woff'),
    url('/fonts/icomoon.svg?o33ow3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activate4a:before {
  content: "\e900";
}
.icon-activateplai4:before {
  content: "\e901";
}
.icon-advanced4:before {
  content: "\e902";
}
.icon-cancel4:before {
  content: "\e903";
}
.icon-dashboard4:before {
  content: "\e904";
}
.icon-downbutton4:before {
  content: "\e905";
}
.icon-edit4:before {
  content: "\e906";
}
.icon-groups4:before {
  content: "\e907";
}
.icon-help4:before {
  content: "\e908";
}
.icon-invite4:before {
  content: "\e909";
}
.icon-logout4:before {
  content: "\e90a";
}
.icon-myteam4:before {
  content: "\e90b";
}
.icon-profile4:before {
  content: "\e90c";
}
.icon-reports4:before {
  content: "\e90d";
}
.icon-alert42:before {
  content: "\e90e";
}
.icon-activationon:before {
  content: "\e90f";
}
.icon-billing4:before {
  content: "\e910";
}
.icon-contact:before {
  content: "\e911";
}
.icon-save4:before {
  content: "\e912";
}
.icon-detaileduseractivitysummary4:before {
  content: "\e913";
}
.icon-details4:before {
  content: "\e914";
}
.icon-useractivitysummary4:before {
  content: "\e915";
}
.icon-runreports4:before {
  content: "\e916";
}
.icon-trash_4:before {
  content: "\e917";
}
.icon-arrow2_4:before {
  content: "\e918";
}
.icon-arrow1_4:before {
  content: "\e919";
}
.icon-arrow3_4:before {
  content: "\e91a";
}
.icon-arrow1b_4:before {
  content: "\e91b";
}
.icon-arrow5_4:before {
  content: "\e91c";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-phone:before {
  content: "\e942";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-switch:before {
  content: "\e9b6";
}
