<?= $this->doctype() ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle($title."  Privatise")->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon','type'=>'image/svg',  'href' => $this->basePath() . '/img/privatise_blue_logo.svg'])
        ->prependStylesheet($this->basePath('css/main.min.css'))

    ?>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>



    <script>


        $(function(){
            $("select").on("selectric-change",function(){
                data=($(this).val())
                if(data=="")
                {
                    $("#tfa-show-team").hide()
                }
                else
                {
                    if(data=="User")
                    {
                        $("#tfa-show-team").hide()
                    }
                    else
                    {
                        $("#tfa-show-team").show()
                    }
                }
            })
        })
    </script>
    <style>



    </style>
</head>

<body>



<div class="wrapper">
    <header id="header">
        <div class="container">
            <nav id="header-nav">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="<?= $this->url('home') ?>" class="header-logo"><img src="<?= $this->basePath('img/privatise_blue_logo.png
        ')?>" alt=""></a>
                <?php if(isset($_SESSION['userid'])):?>
                <ul class="collapse navbar-collapse pull-right" id="header-nav-collapse">
                    <li class="has-dropdown">
                        <a href="#"><i class="icon-profile4"></i>My account</a>
                        <ul class="dropdown">
                            <li><a href="#" data-target="#edit-profile" data-toggle="modal" >Profile</a></li>
                            <li><a href="javaScript:void(0);" data-target="#popupBilling" data-toggle="modal">Billing</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#"><i class="icon-help4"></i>Help</a>
                        <ul class="dropdown">
                            <li><a href="<?= $this->url('support',["action"=>"index"]);?>" >Support</a></li>
                            <li><a href="javaScript:void(0);" data-target="#popupContact" data-toggle="modal">Contact</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="<?= $this->url('logout');?>" class="logout">
                            <i class="icon-logout4"></i>Logout
                        </a>
                    </li>
                </ul>
                <?php endif;?>
            </nav>
        </div>
    </header>
    <?php if(isset($_SESSION['userid'])):?>
    <nav id="main-nav">
        <div class="container">
            <ul>
                <li class="<?=  ($_SERVER['REQUEST_URI']=="/dashboard")?'current-page':''; ?>">
                    <a href="/"><i class="icon-dashboard4"></i>Dashboard</a>
                </li>
                <li class="<?=  ($_SERVER['REQUEST_URI']=="/team-member")?'current-page':''; ?>">
                    <a href="<?= $this->url('team-member',["action"=>"index"]);?>"><i class="icon-invite4"></i>Invite</a>
                </li>
                <li class="<?=  ($_SERVER['REQUEST_URI']=="/report")?'current-page':''; ?>">
                    <a href="<?= $this->url('report'); ?>"><i class="icon-reports4"></i>Reports</a>
                </li>
                <li class="<?=  ($_SERVER['REQUEST_URI']=="/groups")?'current-page':''; ?>">
                    <a href="<?= $this->url('groups',["action"=>"index"]);?>"><i class="icon-groups4"></i>Groups</a>
                </li>
                <li class="<?=  ($_SERVER['REQUEST_URI']=="/advance")?'current-page':''; ?>">
                    <a href="<?= $this->url('advance');?>"><i class="icon-advanced4"></i>Advanced</a>
                </li>
            </ul>
        </div>
    </nav>
    <?php endif;?>


    <div class="content-wrapper">







    <?= $this->content; ?>


        <div class="modal fade" id="edit-profile" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" id="edit-profile-form"  class="user-form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><i class="icon-profile4"></i>Profile</h4>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="form-fields-wrapper">
                                    <div class="field-wrapper">

                                        <input type="text"  value="<?= $currentUserData->firstname;?>" name="firstname"  placeholder="First Name" required>
                                    </div>
                                    <div class="field-wrapper">

                                        <input type="text"  value="<?= $currentUserData->lastname;?>" name="lastname" placeholder="Last Name" required>
                                    </div>
                                    <div class="field-wrapper">

                                        <input type="email"  value="<?= $currentUserData->email;?>" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="field-wrapper">

                                        <input type="text"  value="<?= $company;?>" name="company" placeholder="Company Name" required>
                                    </div>
                                    <div class="field-wrapper">

                                        <input type="tel" name="phone"  value="<?= $currentUserData->phone;?>" placeholder="Phone Number" >
                                    </div>
                                    <div class="field-wrapper blue-select-wrapper">
                                        <select class="selectpicker" name="country" >
                                            <option value="" disabled selected>Country</option>
                                            <?php
                                            $selected = '';
                                            foreach($countries as $country){
                                                if($country->code == $countryCode){
                                                    $selected = 'selected';
                                                }else{
                                                    $selected = '';
                                                }

                                                ?>
                                                <option value="<?php echo $country->code; ?>" <?php echo $selected; ?>><?php echo $country->name; ?></option>
                                            <?php };?>
                                        </select>
                                    </div>
                                    <div class="field-wrapper">
                                        <input type="password" name="oldpassword" placeholder="Old Password" >
                                    </div>
                                    <div class="field-wrapper">
                                        <input type="password" name="password" placeholder="Password" >
                                    </div>
                                    <div class="field-wrapper">
                                        <input type="password" name="confirmpassword" placeholder="Confirm Password" >
                                    </div>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" <?= ($currentUserData->tfa=="enabled")?"checked":"";?> class="onoffswitch-checkbox" id="myonoffswitchProfile">
                                        <label class="onoffswitch-label" for="myonoffswitchProfile">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                            <span class="onoffswitch-desc">Enable Two-factor Authentication</span>
                                        </label>
                                    </div>
                                    <div class="alert alert-danger" id="error-message" style="display:none;"></div>

                                </div>
                                <div class="form-buttons">
                                    <button type="button" class="btn-orange btn-cancel" data-dismiss="modal"><i class="icon-cancel4"></i>Cancel</button>
                                    <button type="submit"  id="profile-submit-button" class="btn-orange"><i class="icon-save4"></i>Save</button>
                                    <button type="button" class="btn btn-default btn-xs btn-spinner-load customSpin"><span class="glyphicon glyphicon-cog fast-right-spinner"></span></button>

                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>


    </div>

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500' rel='stylesheet' type='text/css'>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script>
        $("#invite-colleagues-form").on("submit",function(e){
            e.preventDefault();
            $('#error-message-colleagues').html(' ')
            var url="<?= $this->url("team-member",["action"=>"multipleadd"]);?>";
            var data=$(this).serialize();
            $.ajax({
                url: url,
                method: 'POST',
                data: data,
                success:function(response){

                    console.log(response);
                    response = JSON.parse(response);
                    if(response.status=="Error")
                    {
                        $("#error-message-colleagues").show();

                        $("#error-message-colleagues").html(null);
                        $("#error-message-colleagues").append("<ul>");

                        for(index in response.error)
                        {


                            $("#error-message-colleagues").append("<li>"+response.error[index]+"</li>");



                        }
                        $("#error-message-colleagues").append("</ul>");

                    }
                    else  if(response.status=="Success") {
                        alert("Success");
                        location.reload();
                    }

                    else
                    {
                        $("#error-message-colleagues").empty();
                        $("#error-message-colleagues").hide();

                    }
                }
            });
        });
    </script>
    <script>



        $(".member-edit-button").on("click",function(){
            $("#error-message-team").hide();
            $("#error-message-team").empty();

            var email=$(this).data("email");
            var firstname=$(this).data("firstname");
            var lastname=$(this).data("lastname");
            var url=$(this).data("url");
            var id=$(this).data("id");
            var role=$(this).data("role");
            var tfa=$(this).data("tfa");
            if(role=="User")
            {
                $("#tfa-show-team").hide()
                $('#changer-access-level').prop('selectedIndex', 1).selectric('refresh')
                $("#onoffswitchEditUser").prop("checked",false)
            }
            else
            {
                $('#changer-access-level').prop('selectedIndex', 2).selectric('refresh')
                $("#tfa-show-team").show()
                if(tfa=="enabled")
                {

                    $("#onoffswitchEditUser").prop("checked",true)
                }

            }
            $("#team-member-form").attr("action",url);

            // alert($("#team-member-form").attr("action"))
            $("#team-delete-anchor").attr("href","/team-member/deleteteam/"+id)
            $("#team-member-form input[name='email']").val(email);
            $("#team-member-form input[name='lastname']").val(lastname);
            $("#team-member-form input[name='firstname']").val(firstname);

            //alert($("#team-member-submit-button").data("url")+"hggh");
        })

        //edit team member

        $("#team-member-form").on("submit",function(e){
            e.preventDefault();
            //alert($(this).attr("action"))
            $('#error-message-team').html(' ');
            $.ajax({
                url: $(this).attr("action"),
                method: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    // $("#profile-submit-button").hide();
                    //console.log(response);
                    response = JSON.parse(response);
                    if(response.status=="Error")
                    {
                        $("#error-message-team").show();

                        $("#error-message-team").html(null);
                        $("#error-message-team").append("<ul>");

                        for(index in response.error)
                        {


                            $("#error-message-team").append("<li>"+response.error[index]+"</li>");



                        }
                        $("#error-message-team").append("</ul>");

                    }
                    else  if(response.status=="Success") {
                        //alert("Success");
                        $("#UpdateTeam").modal("show");
                        location.reload().delay(5000);
                    }else  if(response.status=="Unauthrosied") {
                        location.href="/login";
                    }
                    else
                    {
                        $("#error-message-team").empty();
                        $("#error-message-team").hide();

                    }



                }
            })
        })

        //invite


        $("#invite-colleague-form").on("submit",function(e){
            e.preventDefault();
            //alert($(this).attr("action"))
            $('#error-message-invite').html(' ');
            $.ajax({
                url: "<?= $this->url('team-member',["action"=>"add","id"=>$_SESSION['userid']]);?>",
                method: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    // $("#profile-submit-button").hide();
                    console.log(response);
                    response = JSON.parse(response);
                    if(response.status=="Error")
                    {
                        $("#error-message-invite").show();

                        $("#error-message-invite").html(null);
                        $("#error-message-invite").append("<ul>");

                        for(index in response.error)
                        {


                            $("#error-message-invite").append("<li>"+response.error[index]+"</li>");



                        }
                        $("#error-message-invite").append("</ul>");

                    }
                    else  if(response.status=="Success") {
                        $("#SuccessInvite").modal("show");
                        location.reload().delay(5000);
                    }else  if(response.status=="Unauthrosied") {
                        location.href="/login";
                    }

                    else
                    {
                        $("#error-message-invite").empty();
                        $("#error-message-invite").hide();

                    }



                }
            })
        })


    </script>
    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery Validation Plugin - v1.15.0 -->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>


    <script>
        //Team Member fetch from button


        //edit Profile
        $(function(){
            $("#edit-profile-form").on("submit",function(e){
                e.preventDefault();
                //alert("hii");
                $("#profile-submit-button").prop("disabled", true);
                $(".btn-spinner-load").show();
                $('.error-message').html(' ');
                $.ajax({
                    url: '<?= $this->url('editprofile');?>',
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                      //  $("#profile-submit-button").hide();
                        console.log(response);
                        response = JSON.parse(response);
                        if(response.status=="Error")
                        {
                            $("#error-message").show();

                            $("#error-message").html(null);
                            $("#error-message").append("<ul>");

                            for(index in response.error)
                            {


                                $("#error-message").append("<li>"+response.error[index]+"</li>");



                            }
                            $("#error-message").append("</ul>");

                        }
                        else  if(response.status=="Success") {
                            $("#SuccessProfile").modal("show");
                            location.reload().delay(3000);
                        }
                        else  if(response.status=="Unauthrosied") {
                            location.href="/login";
                        }

                        else
                        {
                            $("#error-message").empty();
                            $("#error-message").hide();

                        }

                        $("#profile-submit-button").prop("disabled", false);
                        $(".btn-spinner-load").hide();

                    }
                })
            })
        })

        $(function(){
            $(".selectAllUser").on("click",function(){
                if($(this). prop("checked") == true){
                    $(".selectUser").each(function(){
                        $(this).prop("checked",true);
                    })
                }
                else if($(this). prop("checked") == false) {
                    $(".selectUser").each(function(){
                        $(this).prop("checked",false);
                    })
                }
            });


            $(".selectUser").on("click",function(){
                if($(this). prop("checked") == false) {
                    $(".selectAllUser").prop("checked", false);
                }

            })

            $("#send-activation-email").on("click",function(){
               // var data=$(".selectUser").val();
               // console.log(data);
                var data="";
                $(".selectUser").each(function(){
                    if($(this). prop("checked") == true)
                    data=$(this).val()+"&"+data
                });

                if(data!="")
                {
                   if(confirm("Do you want to really send activation")) {
                       $("#send-activation-email").off('click');;
                       $.ajax({
                           url: 'activation',
                           method: 'POST',
                           data: {data: data},
                           success: function (response) {
                               //alert(response);
                               $(".selectUser").each(function () {
                                   $(this).prop("checked", false);
                               })
                               $(".selectAllUser").prop("checked", "false");
                               location.reload().delay(5000);
                               $('#SuccessActivate').modal('show');

                           }
                       })
                   }
                }else
                {
                    $('#WarningActivate').modal('show');
                }

            })
        })


        $(function(){
            $(".selectAllUserRequest").on("click",function(){
                if($(this). prop("checked") == true){
                    $(".selectUserRequest").each(function(){
                        $(this).prop("checked",true);
                    })
                }
                else if($(this). prop("checked") == false) {
                    $(".selectUserRequest").each(function(){
                        $(this).prop("checked",false);
                    })
                }
            });


            $(".selectUserRequest").on("click",function(){
                if($(this). prop("checked") == false) {
                    $(".selectAllUserRequest").prop("checked", false);
                }

            })

            $("#send-activation-request").on("click",function(){
                // var data=$(".selectUser").val();
                // console.log(data);
                var data="";
                $("#send-activation-request").prop("disabled", true);
                $(".btn-spinner-load").show();
                $("input.selectUserRequest").each(function(){
                    if($(this). prop("checked") == true)
                        data=$(this).val()+"&"+data
                });

                //console.log(data)
              //  alert(data)
                if(data !="")
                {

                    $.ajax({
                        url: 'activationrequest',
                        method: 'POST',
                        data: {data:data},
                        success: function (response) {
                            console.log(response)
                            $(".selectUserRequest").each(function(){
                                $(this).prop("checked",false);
                            })
                            $(".selectAllUserRequest").prop("checked","false");
                            if(response==0){
                                $('#popupActivationFully').modal('show');

                            }
                            else
                            {
                                $("#activation-total-request").text(response);
                                $('#popupActivationPartly').modal('show');
                            }

                            location.reload().delay(5000);
                        }
                    })

                }
                else
                {

                    $('#WarningActivate').modal('show');
                }
                $("#send-activation-request").prop("disabled", false);
                $(".btn-spinner-load").hide();

            })
        })




    </script>


    <hr>

    <div class="modal fade" id="UnauthrosiedUser" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="icon-alert42"></i>Error</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-text-wrapper">
                        <div class="modal-body-text"> Unauthorised User</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="UnauthrosiedGroup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="icon-alert42"></i>Error</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-text-wrapper">
                        <div class="modal-body-text"> Unauthorised group</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SuccessInvite" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="icon-alert42"></i>Success</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-text-wrapper">
                        <div class="modal-body-text"> Successfully Send  invitation</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SuccessProfile" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="icon-alert42"></i>Success</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-text-wrapper">
                        <div class="modal-body-textmodal("> Successfully profile updated</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SuccessContact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="icon-alert42"></i>Success</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-text-wrapper">
                        <div class="modal-body-textmodal"> Message Sent Successfully</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="popupBilling" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="icon-billing4"></i>Billing</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-text-wrapper">
                        <div class="modal-body-text">Billing information is not available <br>during Beta Testing</div>
                    </div>
                </div>
            </div>modal(
        </div>
    </div>


    <div class="modal fade" id="popupContact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="icon-phone"></i>Contact</h4>

                </div>
                <div class="modal-body">
                    <div class="modal-body-text-wrapper">
                        <div class="modal-body-text">

                            <form id="contact-form"  class="user-form" action="<?= $this->url('contactsubmit');?>">

                                <div class="form-fields-wrapper">
                                    <div class="alert alert-danger" id="error-contact-form" style="display:none;"></div>
                                    <div class="field-wrapper">

                                        <input type="text"  value="" name="name"  placeholder=" Name" required>
                                    </div>

                                    <div class="field-wrapper">

                                        <input type="email"  value="" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="field-wrapper">

                                        <input type="tel" name="phone"  value="" placeholder="Phone Number" >
                                    </div>

                                    <div class="field-wrapper">
                                        <textarea name="message" style="color: #606161;" placeholder="Message" required cols="30" rows="10"></textarea>
                                    </div>

                                </div>
                                <div class="form-buttons">
                                    <button type="reset" class="btn-orange btn-cancel" ><i class="icon-cancel4"></i>Reset</button>
                                    <button type="submit"  id="contact-submit-button" class="btn-orange"><i class="icon-save4"></i>Send</button>
                                    <button type="button" class="btn btn-default btn-xs btn-spinner-load customSpin"><span class="glyphicon glyphicon-cog fast-right-spinner"></span></button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="popupSupport" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="icon-phone"></i>Support</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-text-wrapper">
                        <div class="modal-body-text">Coming Soon</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <a href="/">© Appstractor Corporation 2018</a>

            <!-- NOTE: delete after testing -->
            <div style="text-align:left;font-size:18px;color:#fff;margin-top:50px;">

            </div>
            <!-- // NOTE: delete after testing -->
        </div>
    </footer>
</div>
<?= $this->inlineScript() ?>
<script>
    $(function(){
        $("form#contact-form").on("submit",function(ev){
            ev.preventDefault();
            $('#error-contact-form').html(' ')
            var url="<?= $this->url("contactsubmit");?>";
            var data=$(this).serialize();
            $("#contact-submit-button").prop("disabled", true);
            $(".btn-spinner-load").show();
            $.ajax({
                url: url,
                method: 'POST',
                data: data,
                success:function(response){

                    console.log(response);
                    response = JSON.parse(response);
                    if(response.status=="Error")
                    {
                        $("#error-contact-form").show();

                        $("#error-contact-form").html(null);
                        $("#error-contact-form").append("<ul>");

                        for(index in response.error)
                        {


                            $("#error-contact-form").append("<li>"+response.error[index]+"</li>");



                        }
                        $("#error-contact-form").append("</ul>");

                    }
                    else  if(response.status=="Success") {
                        // alert("Success");

                            $("#SuccessContact").modal("show");


                        // location.reload();
                        $("form#contact-form")[0].reset();
                        $("#error-contact-form").empty();
                        $("#error-contact-form").hide();
                        $("#popupContact").modal("hide");
                        location.reload().delay(6000);
                    }

                    else
                    {
                        $("#error-contact-form").empty();
                        $("#error-contact-form").hide();

                    }
                    $("#contact-submit-button").prop("disabled", false);
                    $(".btn-spinner-load").hide();
                }
            });
        })
    })
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>


<?= $this->headScript()
    ->prependFile($this->basePath('js/script.min.js'))

?>
<script>

    $(function(e){










        $(document).on("click", ".ticket-details" , function() {
            username=$(this).data("username")
            ticket=$(this).data("ticket")
            data={username:username,ticket:ticket};
            url="<?= $this->url('support',["action"=>'getticketdetails'])?>";
            $.post(url,data,function(rdata){
                //console.log(rdata)
              //  response = JSON.parse(rdata);
                //console.log(rdata.data.replies.reply)
                message='';
                $.each(rdata.data.replies.reply,function(index,value){
                    if(value.admin!="")
                    {
                        class_name=" support-message";
                    }
                    else
                    {
                        class_name="";
                    }
                    message=message+
                        '                                    <div class="chat-message'+ class_name+'">' +
                        '                                        <div class="chat-message-date">'+value.date+'</div>' +
                        '                                        <div class="chat-message-body">' +
                        '                                            <span>'+value.message+'.</span>' +
                        '                                        </div>' +
                        '                                    </div>'
                })
                $("#chat-message-deve").html(message)
                $("#email-chat").val(rdata.data.email)
                $("#ticket-chat").val(rdata.data.ticketid)
                $("#name-chat").val(rdata.data.name)
                $("#username-chat").val(username)
                $("#chat-message-deve").css("opacity",1)
            }, 'json')


        });




    });


    $(document).ready(function(event){
        //add ticket
        $("#add-ticket-form").on("submit",function(event){
            event.preventDefault();
            var data=$(this).serialize();
            url="<?= $this->url('support',["action"=>'addticket'])?>";
            $.post(url,data,function(rdata){
                rdata= JSON.parse(rdata);
                id=rdata.id;
                username=$("#username-re").val();
                data="<?= $this->url('support')?>"+"?id="+username+"&ticket="+id;
                location.href=data;
            });

        });
    })


</script>
</body>
</html>

