.advanced {
  padding-top: 34px;
  .selects-wrapper {
    font-size: 20px;
    .days-number {
      margin-bottom: 70px;
      .days-number-input-wrapper {
        position: relative;
        display: inline-block;
        width: 118px;
        height: 32px;
        margin-left: 20px;
        line-height: 32px;
        border: 0;
        color: #2b2e83;
        input {
          width: 118px;
          padding: 0 40px;
          background: #fff;
          border: 0;
          outline: 0;
          text-align: center;
          font-weight: 600;
          -moz-appearance: textfield;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          margin: 0;
        }
        span {
          position: absolute;
          top: 0;
          width: 32px;
          height: 32px;
          line-height: 32px;
          background: #eaeff5;
          text-align: center;
          font-size: 26px;
          color: #606161;
          border-radius: 5px;
          cursor: pointer;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .decrement {
          left: 0;
          line-height: 10px;
        }
        .increment {
          right: 0;
        }
      }
    }
    .expiration-length {
      .expiration-length-selects-wrapper {
        display: inline-block;
        margin-left: 20px;
        select {
          margin-right: 25px;
          width: 60px;
          height: 42px;
          padding: 0 20px 0 8px;
          line-height: 38px;
          font-size: 20px;
          border: 2px solid #9d9d9c;
          background: url(../img/select-bg.png) no-repeat 85% 50%;
          background-size: 15%;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
        }
        .expiration-select-wrapper {
          position: relative;
          display: inline-block;
          &:before {
            position: absolute;
            width: 60px;
            top: -26px;
            left: 0;
            text-align: center;
            font-size: 16px;
          }
          &.expiration-mins-wrapper {
            select {
              margin-right: 0;
            }
          }
          &.expiration-days-wrapper:before {
            content: 'Days';
          }
          &.expiration-hrs-wrapper:before {
            content: 'Hrs';
          }
          &.expiration-mins-wrapper:before {
            content: 'Mins';
          }
          &.expiration-days-wrapper:after,
          &.expiration-hrs-wrapper:after {
            content: ':';
            position: absolute;
            right: 6px;
            top: 0;
            width: 6px;
            height: 46px;
            line-height: 44px;
            text-align: center;
          }
        }
      }
    }
  }
  .form-buttons {
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid #c6c6c6;
    .btn-orange {
      min-width: 110px;
      text-align: center;
    }
  }
  @media (max-width: 767px) {
    .selects-wrapper {
      font-size: 18px;
      .days-number {
        margin-bottom: 50px;
        .days-number-input-wrapper {
          display: block;
          margin: 10px 0 0;
        }
      }
      .expiration-length .expiration-length-selects-wrapper {
        display: block;
        margin: 40px 0 0;
      }
    }
  }
}
