.dashboard-table {
  margin: 12px 0 18px;
  padding: 18px;
  border: 3px solid #2daae1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  &-header {
    padding: 13px 23px;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    p.title {
      max-height: 34px;
      line-height: 34px;
      margin: 0;
      font-size: 28px;
      color: #27aae1;
      text-align: center;
      [class^="icon-"] {
        display: inline-block;
        margin-top: 2px;
        vertical-align: top;
      }
    }
    .btn-inactive-grey {
      [class^="icon-"] {
        display: inline-block;
        margin-top: 10px;
        vertical-align: top;
      }
    }
    .btn-orange {
      [class^="icon-"] {
        display: inline-block;
        margin-top: 9px;
        vertical-align: top;
      }
    }
  }
  &-body {
    margin-top: 12px;
    padding: 15px 23px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .dashboard-table-wrapper {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        word-break: break-all;
        font-size: 14px;
        tr {
          border-bottom: 1px solid #c6c6c6;
          [class^="icon-"] {
            font-size: 24px;
            vertical-align: middle;
          }
          th,
          td {
            padding: 12px 5px 12px 0;
            line-height: 24px;
          }
          .column-checkbox {
            width: 2%;
            input {
              margin-top: -4px;
              vertical-align: middle;
            }
          }
          .column-email {
            width: 22%;
          }
          .column-name {
            width: 16%;
          }
          .column-usage {
            width: 13%;
          }
          .column-ip {
            width: 13%;
          }
          .column-backup-ip {
            width: 13%;
          }
          .column-status {
            width: 16%;
            padding-right: 40px;
            text-align: center;
            .icons-block {
              display: inline-block;
              text-align: left;
            }
          }
          .column-edit {
            width: 5%;
            padding-right: 0;
            text-align: center;
            a {
              margin: 0 2px;
              [class^="icon-"] {
                margin: 0;
                color: #606161;
                @include transition(all .2s ease);
              }
            }
          }
          .column-date {
            width: 14%;
          }
          .column-country {
            width: 13%;
          }
          .column-ip {
            width: 14%;
          }
          &:last-child {
            border-bottom: 0;
          }
          &:hover {
            .column-edit {
              a {
                .icon-edit4 {
                  color: #f39407;
                }
                .icon-reports4 {
                  color: #2aaae2;
                }
              }
            }
          }
        }
        &.small-table {
          .column-email {
            width: 26%;
            padding-right: 5px;
          }
          .column-name {
            width: 25%;
            padding-right: 5px;
          }
          .column-usage {
            width: 21%;
            padding-right: 5px;
          }
          .column-status {
            width: 21%;
            text-align: center;
          }
        }
      }
    }
  }
  @media (max-width: 1199px) {
    padding: 10px;
    border-width: 2px;
    &-header {
      padding: 13px 15px;
    }
    &-body {
      padding: 10px 15px;
      .dashboard-table-wrapper {
        table {
          tr {
            font-size: 14px;
            th {
              padding-right: 2px;
            }
            td {
              padding-right: 2px;
            }
            .column-checkbox {
              input {
                margin-top: -2px;
              }
            }
            .column-status {
              [class^="icon-"] {
                width: 24px;
                height: 24px;
              }
            }
            .column-edit {
              a {
                [class^="icon-"] {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1199px) {
    .dashboard-table-body .dashboard-table-wrapper table tr .column-status {
      padding-right: 20px;
    }
    .dashboard-table-body .dashboard-table-wrapper table tr .column-edit {
      width: 6%;
    }
  }
  @media (max-width: 991px) {
    &-header {
      .btn-inactive-grey,
      .btn-orange {
        font-size: 12px;
        [class^=icon-] {
          margin-top: 11px;
        }
      }
    }
    &-body {
      .dashboard-table-wrapper {
        overflow-x: scroll;
        table {
          min-width: 950px;
          &.small-table {
            min-width: 750px;
            .column-usage,
            .column-status {
              width: 20%;
            }
            .column-edit {
              width: 7%;
            }
          }
        }
        &.dashboard-table-small-wrapper {
          overflow-x: scroll;
        }
      }
    }
  }
  @media (max-width: 767px) {
    &-header {
      text-align: center;
      .btn-inactive-grey,
      .btn-orange {
        float: none !important;
        margin-top: 12px;
        font-size: 14px;
        [class^=icon-] {
          margin-top: 10px;
        }
      }
    }
  }
}
