.daterangepicker {
  top: 0;
  min-width: 283px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border: 1px solid #e2e2e2;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  td.active {
    background-color: #2b2e83;
  }
  &:before,
  &:after {
    display: none;
  }
  .ranges {
    min-width: 283px;
    margin: 0;
    ul {
      width: 100%;
      li {
        position: relative;
        width: 100%;
        padding: 10px 12px;
        margin: 0;
        font-size: 18px;
        color: #666362;
        border: 0;
        border-radius: 0;
        background: #fff;
        &.active,
        &:hover {
          font-weight: 600;
          color: #fff;
          background: #f39407;
        }
        &:after {
          content: "";
          position: absolute;
          width: calc(100% - 24px);
          height: 1px;
          top: 0;
          left: 12px;
          background: #e2e2e2;
        }
      }
    }
    .range_inputs {
      margin-top: 15px;
      padding: 0 12px;
      .btn-orange {
        font-size: 16px;
        &.btn-success:before {
          content: "\e912";
          margin-right: 3px;
          display: inline-block;
          margin-top: 9px;
          vertical-align: top;
          font-family: icomoon!important;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        &.cancelBtn:before {
          content: "\e903";
          margin-right: 3px;
          display: inline-block;
          margin-top: 9px;
          vertical-align: top;
          font-family: icomoon!important;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }
  @media (max-width: 1199px) {
    .calendar {
      margin-top: 20px;
    }
    .calendar.left {
      margin-left: 12px;
      clear: both !important;
    }
    .calendar.right {
      margin-right: 12px;
    }
  }
  @media (max-width: 991px) {
    .calendar.left {
      margin-right: 12px;
    }
    .calendar.right {
      margin-left: 12px !important;
      clear: both !important;
    }
  }
}
