.groups-edit-users {
  .groups-edit-users-wrapper {
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 30px;
    margin-bottom: 26px;
  }
  .form-buttons {
    .btn-orange {
      min-width: 110px;
      text-align: center;
      [class^="icon-"] {
        margin-top: 9px;
      }
    }
  }
  &-sidebar {
    background: #f2f3f4;
    border-radius: 5px;
    padding: 10px 0;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 0 10px;
        @include transition(all .2s ease);
        a {
          display: block;
          padding: 9px 0;
          font-weight: 700;
          color: #2b3890;
        }
        &.active,
        &:hover {
          background: #46b1e3;
          a {
            color: #fff;
          }
        }
        &.default-group {
          a {
            border-bottom: 1px solid #c2c3c5;
          }
        }
      }
    }
  }

  .selects-wrapper {
    position: relative;
    .select-single-wrapper {
      float: left;
      border: 2px solid #2daae1;
      border-radius: 5px;
      .select-title {
        padding: 15px 20px;
        font-weight: 700;
        color: #fff;
        background: #2b2e83;
      }
      select {
        width: 230px;
        opacity: 0;
      }
      .selectric-wrapper {
        .selectric {
          display: none;
        }
        .selectric-items {
          position: static;
          display: block;
          width: 230px;
          height: 300px;
          background: #fff;
          border: 0;
          box-shadow: none;
          z-index: 1;
          .selectric-scroll {
            cursor: default;
            ul {
              li {
                position: relative;
                font-size: 16px;
                font-weight: 700;
                padding: 10px 20px;
                margin-bottom: 1px;
                cursor: pointer;
                &:after {
                  content: '';
                  position: absolute;
                  width: calc(100% - 40px);
                  height: 1px;
                  bottom: -1px;
                  left: 20px;
                  background: #b4b6b7;
                }
                &.selected,
                &:hover {
                  color: #fff;
                  background: #f39407;
                  &:after {
                  }
                }
                &:last-child {
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      &.select-left {
        margin: 0 55px 0 20px;
      }
      &.select-right {
        margin-left: 55px;
      }
    }
    .select-btn-move {
      position: absolute;
      width: 24px;
      top: 70px;
      left: 298px;
      font-size: 24px;
      color: #2b2e83;
      [class^="icon-"] {
        display: block;
        margin: 54px 0;
        cursor: pointer;
      }
    }
  }
  @media (max-width: 991px) {
    &-sidebar {
      margin-bottom: 30px;
    }
    .selects-wrapper {
      .select-single-wrapper.select-left {
        margin: 0;
        float: left;
      }
      .select-single-wrapper.select-right {
        margin: 0;
        float: right;
      }
      .select-btn-move {
        left: 323px;
      }
    }
  }
  @media (max-width: 767px) {
    .selects-wrapper {
      .select-single-wrapper {
        width: 100%;
        float: none;
        &.select-left {
          margin-bottom: 60px;
        }
        .selectric-wrapper .selectric-items {
          width: 100%;
        }
      }
      .select-btn-move {
        width: 100%;
        top: 369px;
        left: 0;
        text-align: center;
        [class^=icon-] {
          display: inline-block;
          margin: 0 20px;
        }
        .move-right {
          @include rotate(90);
        }
        .move-left {
          @include rotate(90);
        }
      }
    }
  }
}
