.groups-edit-settings {
  .user-form {
        padding-left: 70px;
    .onoffswitch-wrapper {
      margin-bottom: 30px;
      .onoffswitch {
        margin: 0 0 5px;
        .onoffswitch-desc {
          right: -465px;
          width: 450px;
        }
      }
      .onoffswitch-desc-small {
        padding: 0 120px 0 90px;
        font-size: 14px;
        color: #939598;
      }
    }
  }
  .form-buttons {
    text-align: right;
  }
  @media (max-width: 1199px) {
    .user-form {
      padding-left: 0px;
    }
  }
  @media (max-width: 767px) {
    .user-form {
      .onoffswitch-wrapper {
        .onoffswitch {
          .onoffswitch-desc {
            right: -220px;
            width: 210px;
          }
          .onoffTickets,
          .onoffSelfActivationGroup {
            .onoffswitch-desc {
              top: 0;
              line-height: 16px;
            }
          }
        }
        .onoffswitch-desc-small {
          padding: 5px 0 0;
          font-size: 14px;
          color: #939598;
        }
      }
    }
  }
}
