.groups-main {
  &-nav {
    .btn-orange {
      text-transform: uppercase;
      [class^="icon-"] {
        display: inline-block;
        margin-top: 9px;
        vertical-align: top;
      }
    }
  }
  &-blocks-wrapper {
    margin-top: 20px;
    .groups-main-block {
      border-bottom: 1px solid #8f8f8f;
      &-header {
        .title-wrapper {
          padding: 13px 0;
          color: #2b2e83;
          font-weight: 600;
          cursor: pointer;
          [class^="icon-"] {
            display: inline-block;
            margin: 3px 8px 0 0;
            vertical-align: top;
            @include transition(all .3s ease);
          }
          // .icon-arrow2_4 {
          //   display: none;
          // }
        }
        .edit-btn-wrapper {
          text-align: right;
          .btn-orange {
            min-width: 110px;
            margin-top: 7px;
            text-align: center;
            [class^="icon-"] {
              display: inline-block;
              margin: 9px 5px 0 0;
              vertical-align: top;
            }
          }
        }
        .icons-wrapper {
          padding-top: 9px;
          font-size: 21px;
          a {
            color: #a3a3a3;
            &:hover {
              color: #2b2e83;
            }
          }
        }
      }
      &-body {
        display: none;
        ul {
          padding-left: 25px;
          list-style: none;
          li {
            padding: 10px 0;
            font-size: 14px;
            border-bottom: 1px solid #8f8f8f;
            &:last-child {
              border-bottom-color: #fff;
              padding-bottom: 0;
            }
            &.info {
              padding-top: 0;
            }
          }
        }
      }
      &.opened {
        .groups-main-block-header {
          border-bottom: 1px solid #fff;
          .title-wrapper {
            [class^="icon-"] {
              @include rotate(90);
            }
            // .icon-arrow1_4 {
            //   display: none;
            // }
            // .icon-arrow2_4 {
            //   display: inline-block;
            // }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .groups-main-blocks-wrapper .groups-main-block-header .edit-btn-wrapper {
      text-align: left;
      .btn-orange {
        margin: 0 0 7px;
      }
    }
    .groups-main-blocks-wrapper .groups-main-block-header .icons-wrapper {
      padding-top: 2px;
    }
  }
}
