.groups-edit-geo-settings {
  .selects-wrapper {
    display: none;
    margin-top: 10px;
    padding-left: 10px;
  }
  @media (max-width: 767px) {
    .selects-wrapper {
      padding-left: 0;
    }
  }
}
