.groups-edit-fixed-ip {
  .user-form {
    padding-left: 70px;
    .onoffswitch-wrapper {
      margin-bottom: 30px;
      .onoffswitch {
        margin: 0 0 5px;
      }
    }
    .fixed-ip-desc {
      margin-bottom: 10px;
      font-size: 14px;
      color: #939598;
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
    .radio-wrapper {
      display: table;
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #a7a7a7;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
      [type="radio"] {
        position: absolute;
        left: -9999px;
        &:checked + label {
          font-weight: 600;
          &:before {
            border-color: #2d2e83;
          }
          &:after {
            opacity: 1;
          }
        }
      }
      label {
        position: relative;
        padding-left: 30px;
        font-size: 18px;
        font-weight: 400;
        pointer-events: none;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2px;
          width: 22px;
          height: 22px;
          border: 2px solid #a7a9ac;
          border-radius: 50%;
          background: #fff;
        }
        &:after {
          content: '';
          position: absolute;
          width: 14px;
          height: 14px;
          background: #2d2e83;
          top: 6px;
          left: 4px;
          border-radius: 50%;
          opacity: 0;
        }
      }
      .radio-input-wrapper {
        display: none;
        width: 100%;
        float: left;
        padding: 0 0 0 30px;
        .radio-input-block {
          float: left;
          margin-right: 20px;
          font-size: 15px;
          input {
            width: 140px;
            height: 30px;
            margin-left: 12px;
            padding: 0 10px;
            line-height: 30px;
            border: 2px solid #7c7c7c;
            border-radius: 3px;
          }
        }
      }
      .radio-desc {
        padding: 5px 0 0 30px;
        font-size: 15px;
      }
      &.enabled {
        label {
          pointer-events: auto;
          cursor: pointer;
        }
      }
    }
  }
  .form-buttons {
    text-align: right;
  }
  @media (max-width: 1199px) {
    .user-form {
      padding-left: 0;
      .radio-wrapper .radio-input-wrapper .radio-input-block {
        float: none;
        margin: 0 0 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 1199px) {
    .user-form .radio-wrapper .radio-input-wrapper .radio-input-block input {
      margin-top: 5px;
    }
  }
}
