#header {
  max-width: calc(100% - 30px);
  height: 76px;
  margin: 15px auto 0;
  background: #f2f3f4;
  border-radius: 5px;
  .header-logo {
    display: block;
    float: left;
    padding: 10px 0;
    img {
      height: 56px;
    }
  }
  #header-nav {
    font-size: 18px;
    #header-nav-collapse {
      margin: 0;
      padding: 25px 0;
      list-style: none;
      li {
        position: relative;
        display: inline-block;
        margin-right: 25px;
        color: #27aae1;
        cursor: pointer;
        a {
          display: inline-block;
          line-height: 26px;
          color: #2b2e83;
          &:hover {
            color: #27aae1;
          }
        }
        i {
          margin-right: 2px;
        }
        .dropdown {
          position: absolute;
          width: 100%;
          min-width: 90px;
          padding: 0;
          opacity: 0;
          visibility: hidden;
          @include transition(all .2s ease);
          li {
            display: block;
            width: 90px;
            margin: 0 0 1px;
            line-height: 25px;
            background: rgba(13,107,180,.68);
            @include transition(all .2s ease);
            a {
              display: block;
              padding: 0 10px;
              color: #fff;
              line-height: 25px;
            }
            &:last-child {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }
            &:hover {
              background: rgba(13,107,180,.9);
            }
          }
        }
        &:last-child {
          margin: 0;
        }
        &:hover {
          a {
            color: #27aae1;
          }
          .dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  @media (max-width: 1199px) {
    max-width: 100%;
  }
  @media (max-width: 767px) {
    position: relative;
    &.menu-opened {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    #header-nav {
      .navbar-toggle {
        margin: 21px 0 0;
        border: 1px solid #2b2e83;
        span {
          background: #2b2e83;
        }
      }
      #header-nav-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        padding: 5px 0;
        border-top: 1px solid #2b2e83;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: #f2f3f4;
        -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.3);
        box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.3);
        overflow: hidden;
        z-index: 2;
        li {
          display: block;
          margin: 0;
          padding: 10px;
          text-align: center;
          &.has-dropdown {
            a {
              &:after {
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: .4em;
                vertical-align: .15em;
                content: "";
                border-top: .3em solid;
                border-right: .3em solid transparent;
                border-bottom: 0;
                border-left: .3em solid transparent;
              }
            }
            .dropdown {
              position: static;
              display: none;
              padding: 0;
              opacity: 1;
              visibility: visible;
              transition: initial;
              li {
                width: auto;
                margin: 0;
                border: 0;
                background: transparent;
                a {
                  color: #27aae1;
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
