.header-support-mobile {
  height: 4.51vh;
  background: #fff;
  padding: 1.05vh 15px;
  .header-logo {
    img {
      height: 2.4vh;
      vertical-align: top;
    }
  }
  .btn-close {
    position: relative;
    margin-top: 0.45vh;
    float: right;
    display: inline-block;
    width: 1.8vh;
    height: 1.8vh;
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #000;
    }
    &:before {
      @include transform(rotate(45deg));
    }
    &:after {
      @include transform(rotate(-45deg));
    }
  }
}
