.inner-page-block {
  padding-bottom: 8px;
  &:last-child {
    padding-bottom: 20px;
    .container-increase {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .container-increase {
    background: #fff;
    padding: 26px 56px;
  }
  @media (max-width: 1199px) {
    .container-increase {
      padding: 25px;
    }
  }
  @media (max-width: 767px) {
    .container-increase {
      padding: 15px;
    }
  }
}
