.inner-page-header {
  padding: 17px 0 10px;
  .container-increase {
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  h1 {
    margin: 0;
    padding: 13px 0;
    font-size: 28px;
    font-weight: 600;
    color: #2daae1;
    [class^="icon-"] {
      display: inline-block;
      margin: 2px 6px 0 0;
      vertical-align: top;
    }
    .icon-groups4 {
      font-size: 24px;
      margin-top: 4px;
    }
  }

  &.nav-added {
    .container-increase {
      display: table;
    }
    h1 {
      float: left;
    }
    .nav-group {
      float: left;
      ul {
        margin: 0 0 0 40px;
        padding: 10px 0 0;
        list-style: none;
        font-size: 0;
        li {
          display: inline-block;
          border-left: 1px solid #cacaca;
          a {
            display: inline-block;
            padding: 5px 49px 5px 31px;
            font-size: 18px;
            color: #606161;
            [class^="icon-"] {
              opacity: 0;
              margin-right: 2px;
              color: #46b1e3;
              @include transition(all .2s ease);
            }
            &.current,
            &:hover {
              color: #46b1e3;
              [class^="icon-"] {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  &.new-message-added {
    .container-increase {
      display: table;
    }
    h1 {
      float: left;
    }
    .new-message {
      position: relative;
      float: right;
      margin-top: 11px;
    }
  }

  @media (max-width: 1199px) {
    &.nav-added {
      .nav-group {
        ul {
          li {
            a {
              padding: 5px 29px 5px 11px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    &.nav-added {
      .nav-group {
        ul {
          margin-left: 0;
          padding-bottom: 10px;
          li {
            a {
              padding: 5px 20px;
              [class^="icon-"] {
                display: none;
              }
            }
            &:first-child {
              border-left: 0;
              a {
                padding-left: 0;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    &.nav-added {
      h1 {
        float: none;
      }
      .nav-group {
        float: none;
        ul {
          li {
            width: 50%;
            padding: 0 5px;
            border-left: 0;
            a {
              font-size: 16px;
              padding: 5px 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
