.invite-users {
  p.title {
    font-size: 20px;
    font-weight: 600;
    color: #2daae1;
  }
  form.user-form {
    .form-fields-wrapper {
      width: 405px;
      padding: 14px;
      background: #f2f3f4;
      border-radius: 5px;
      .blue-select-wrapper {
        .selectric-wrapper {
          max-width: 200px;
          .selectric .button {
            width: 30px;
            &:before {
              width: 30px;
            }
          }
        }
      }
      .onoffswitch .onoffswitch-desc {
        font-size: 18px;
      }
    }
    .left-column {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 26px;
        width: 1px;
        height: 330px;
        background: #c6c6c6;
      }
      &:after {
        content: 'or';
        position: absolute;
        top: 147px;
        right: 14px;
        width: 24px;
        height: 36px;
        background: #fff;
        font-size: 19px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        color: #2b2e83;
      }
    }
    .right-column {
      padding-left: 50px;
    }
    .form-buttons {
      margin-top: 34px;
      padding-top: 20px;
      border-top: 1px solid #c6c6c6;
    }
  }
  @media (max-width: 1199px) {
    form.user-form {
      .left-column:before {
        right: -16px;
      }
      .left-column:after {
        right: -28px;
      }
      .right-column {
        padding-left: 0;
        float: right;
      }
    }
  }
  @media (max-width: 991px) {
    form.user-form {
      .left-column {
        margin-bottom: 30px;
        padding-bottom: 40px;
        &:before {
          top: auto;
          bottom: 0;
          left: 0;
          right: auto;
          width: 405px;
          height: 1px;
        }
        &:after {
          content: 'or';
          top: auto;
          bottom: -18px;
          left: 184px;
          right: auto;
          width: 36px;
        }
      }
      .right-column {
        float: none;
      }
    }
  }
  @media (max-width: 767px) {
    form.user-form {
      .form-fields-wrapper {
        max-width: 100%;
        .onoffswitch .onoffswitch-desc {
          width: 150px;
          top: 0;
          right: -170px;
          font-size: 16px;
          line-height: 1;
        }
      }
      .left-column {
        &:before {
          top: auto;
          bottom: 0;
          left: 0;
          right: auto;
          width: 100%;
          height: 1px;
        }
        &:after {
          content: 'or';
          top: auto;
          bottom: -18px;
          left: 50%;
          right: auto;
          width: 36px;
          margin-left: -18px;
        }
      }
    }
  }
}
