#main-nav {
  padding: 19px 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      display: inline-block;
      margin-right: 70px;
      a {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        [class^="icon-"] {
          position: relative;
          top: -2px;
          display: inline-block;
          margin: 0 7px 0 0;
          vertical-align: middle;
        }
        .icon-dashboard4,
        .icon-reports4,
        .icon-groups4 {
          font-size: 24px;
        }
        .icon-groups4 {
          top: -4px;
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -19px;
        margin-left: -13px;
        width: 0;
        height: 0;
        opacity: 0;
        border-style: solid;
        border-width: 0 13px 13px 13px;
        border-color: transparent transparent #f2f3f4 transparent;
        @include transition(all .2s ease);
      }
      &:hover,
      &.current-page {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  @media (max-width: 1199px) {
    ul li {
      margin-right: 50px;
    }
  }
  @media (max-width: 991px) {
    ul {
      display: table;
      width: 100%;
      li {
        display: table-cell;
        margin: 0;
        text-align: center;
        a {
          font-size: 16px;
          [class^="icon-"] {
            font-size: 16px;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .container {
      padding: 0;
    }
    ul {
      li {
        a {
          font-size: 14px;
          [class^="icon-"] {
            display: block;
            margin: 0;
          }
        }
      }
    }
  }
}
