.modal {
  &-dialog {
    width: 630px;
    margin-top: 200px;
  }
  &-content {
    border: 3px solid #2daae1;
    border-radius: 5px;
    box-shadow: none;
    overflow: hidden;
  }
  &-header {
    padding: 9px 12px 9px 32px;
    color: #fff;
    background: #2b2e83;
    h4 {
      font-size: 28px;
      font-weight: 600;
      text-transform: uppercase;
      [class^="icon-"] {
        margin-right: 5px;
        font-size: 24px;
      }
    }
    .close {
      margin-top: -6px;
      font-size: 36px;
      font-weight: 400;
      color: #fff;
      text-shadow: none;
      opacity: 1;
    }
  }
  &-body {
    padding: 38px 40px;
    background: #f2f3f4;
    &-text-wrapper {
      padding: 12px 18px;
      background: #fff;
      border-radius: 5px;
    }
    &-text {
      padding: 25px 15px;
      font-size: 20px;
      color: #fff;
      text-align: center;
      background: #2b2e83;
      border-radius: 5px;
      border: 3px solid #2daae1;
    }
    &-buttons {
      margin-top: 20px;
      text-align: right;
      button {
        min-width: 120px;
        margin-left: 2px;
        text-transform: uppercase;
        [class^="icon-"] {
          display: inline-block;
          margin-top: 9px;
          vertical-align: top;
        }
      }
    }
  }
  &#popupAlertDays {
    .modal-body {
      padding-bottom: 30px;
      .modal-body-text {
        padding: 25px 50px;
        p {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &#popupActivationRequests {
    .modal-dialog {
      width: 1150px;
    }
    .modal-body {
      padding: 15px 15px 12px;
    }
    .dashboard-table {
      margin: 0;
      padding: 15px;
      border: 0;
      border-radius: 5px;
      background: #fff;
      &-body {
        margin: 0;
        border: 3px solid #2daae1;
        border-radius: 5px;
        .dashboard-table-wrapper {
          padding: 5px 28px;
        }
      }
    }
    .popup-navigation {
      display: table;
      width: 100%;
      margin-top: 8px;
      .btn-orange {
        padding: 0 11px;
      }
    }
  }
  &#popupActivationPartly,
  &#popupActivationFully {
    .modal-dialog {
      width: 1150px;
      margin-top: 140px;
    }
    .modal-header {
      border-bottom: 0;
    }
    .modal-body {
      padding: 130px 40px 180px;
      background: #2b2e83;
      &-text {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        border: 0;
        .title {
          display: inline-block;
          margin-bottom: 2px;
          border-bottom: 1px solid #fff;
        }
        .pending {
          color: #2daae1;
          margin: 0;
        }
      }
    }
  }
  &#popupActivationFully {
    .modal-body {
      padding: 155px 40px 205px;
      &-text {
        .title {
          border: 0;
        }
      }
    }
  }
  &#popupProfile,
  &#popupEditUser,
  &#popupEditUserAuth {
    .modal-dialog {
      margin-top: 50px;
    }
    .modal-body {
      padding: 30px;
    }
  }
  &#popupEditUser {
    .modal-content {
      overflow: visible;
      .modal-body {
        .user-form {
          .form-fields-wrapper {
            padding-bottom: 22px;
          }
        }
      }
    }
  }
  @media (max-width: 1199px) {
    .modal-dialog {
      .modal-content {
        border-width: 2px;
        .modal-body {
          padding: 15px;
        }
      }
    }
    &#popupActivationRequests {
      .modal-dialog {
        width: 964px;
      }
    }
    &#popupActivationFully,
    &#popupActivationPartly {
      .modal-dialog {
        width: 964px;
        .modal-body {
          padding: 105px 40px 155px;
        }
      }
    }
  }
  @media (max-width: 991px) {
    &#popupActivationRequests {
      .modal-dialog {
        width: auto;
        .dashboard-table-body {
          .dashboard-table-wrapper {
            padding: 5px 0;
          }
        }
      }
    }
    &#popupActivationFully,
    &#popupActivationPartly {
      .modal-dialog {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  @media (max-width: 767px) {
    .modal-dialog {
      width: auto;
      .modal-content {
        .modal-body {
          padding: 15px;
        }
      }
    }
    &#popupAlertDays {
      .modal-body {
        .modal-body-text {
          padding: 25px 15px;
        }
      }
    }
    &#popupActivationRequests {
      .modal-header {
        padding-left: 15px;
        h4 {
          font-size: 20px;
          text-transform: none;
          [class^=icon-] {
            font-size: 20px;
          }
        }
      }
    }
    &#popupActivationFully,
    &#popupActivationPartly {
      .modal-dialog {
        .modal-body {
          padding: 55px 15px 105px;
          .modal-body-text {
            padding: 0;
            font-size: 24px;
          }
        }
      }
    }
    &#popupEditUser,
    &#popupEditUserAuth,
    &#popupProfile {
      .modal-dialog {
        width: auto;
        margin-top: 50px;
        .modal-body {
          padding: 15px;
        }
      }
    }
    &#popupEditUser,
    &#popupEditUserAuth {
      .modal-dialog {
        margin-top: 100px;
      }
    }
  }
}


.modal-backdrop.in {
  opacity: .1;
}
