.new-message-popup {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  width: 365px;
  padding: 13px 13px 16px;
  background: #f8f9f9;
  border: 2px solid #f39407;
  border-radius: 4px;
  z-index: 1;
  &:after, &:before {
    bottom: 100%;
    right: 26px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(248, 249, 249, 0);
    border-bottom-color: #f8f9f9;
    border-width: 8px;
    margin-right: -8px;
  }
  &:before {
    border-color: rgba(243, 148, 7, 0);
    border-bottom-color: #f39407;
    border-width: 11px;
    margin-right: -11px;

  }
  .user-form {
    .form-fields-wrapper {
      margin-bottom: 16px;
      padding: 0;
      background: transparent;
      .field-wrapper {
        input {
          height: 40px;
          padding: 0 8px;
          line-height: 36px;
          background: transparent;
        }
      }
    }
  }
  @media (max-width: 767px) {
    width: 300px;
  }
}
