.reports-user-activity-summary {
  &-header {
    padding: 9px;
    background: #f2f3f4;
    border-radius: 5px;
    .title {
      padding: 2px 10px;
      font-size: 19px;
      color: #fff;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background: #2daae1;
    }
    .content {
      display: table;
      width: 100%;
      padding: 6px 7px;
      border: 2px solid #2daae1;
      border-top: 0;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #fff;
      .content-column {
        width: 27%;
        float: left;
        padding: 3px 5px;
        text-align: center;
        border-right: 1px solid #aaa9a9;
        span {
          font-size: 17px;
          font-weight: 700;
          color: #f89521;
        }
        &.protected-time {
          width: 30%;
        }
        &.usage {
          width: 16%;
          border-right: 0;
        }
      }
    }
  }
  &-body {
    margin-top: 25px;
    padding: 9px;
    background: #f2f3f4;
    border-radius: 5px;
    .title {
      padding: 2px 10px;
      font-size: 19px;
      color: #fff;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background: #2daae1;
    }
    .content {
      padding: 0 10px;
      border: 2px solid #2daae1;
      border-top: 0;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #fff;
      table {
        width: 100%;
        tr {
          border-bottom: 1px solid #aaa9a9;
          &:last-child {
            border-bottom: 0;
          }
          th,
          td {
            position: relative;
            padding: 9px 15px;
            &:after {
              content: '';
              position: absolute;
              width: 1px;
              height: calc(100% - 12px);
              top: 6px;
              right: 0;
              background: #aaa9a9;
            }
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              &:after {
                display: none;
              }
            }
          }
          th {
            font-weight: 700;
            color: #2b3890;
          }
          td {

          }
        }
      }
    }
  }
  @media (max-width: 1199px) {
    &-header .content .content-column span {
      display: block;
    }
    &-body .content table tr td,
    &-body .content table tr th {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
    }
  }
  @media (max-width: 991px) {
    &-header .content .content-column,
    &-header .content .content-column.protected-time,
    &-header .content .content-column.usage {
      width: 50%;
      margin-bottom: 10px;
    }
    &-header .content .content-column:nth-child(2n) {
      border-right: 0;
    }
  }
  @media (max-width: 767px) {
    &-header .title,
    &-body .title {
      font-size: 17px;
    }
    &-header .content .content-column,
    &-header .content .content-column.protected-time,
    &-header .content .content-column.usage {
      width: 100%;
      margin-bottom: 10px;
      border-right: 0;
      text-align: left;
      span {
        display: inline;
        white-space: nowrap;
      }
    }
    &-body .content .table-wrapper {
      overflow-x: scroll;
    }
    &-body .content table {
      min-width: 628px;
    }
  }
}
