.reports-type {
  display: table;
  width: 100%;
  &.add-min-height {
    min-height: calc(100vh - 350px);
  }
  .left-column,
  .right-column {
    width: 50%;
    float: left;
  }
  .left-column {
    .form-fields-wrapper {
      padding: 0;
      .blue-select-wrapper {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        .selectric-wrapper {
          max-width: 400px;
        }
      }
    }
  }
  .right-column {
    height: 62px;
    padding: 14px 20px 14px 0;
    background: #f2f3f4;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  @media (max-width: 767px) {
    .left-column,
    .right-column {
      width: 100%;
    }
    .right-column {
      padding-right: 15px;
    }
  }
}
