.reports-user-activity {
  .left-column {
    width: 60%;
    .blue-select-wrapper {
      display: table;
      .field-wrapper {
        margin: 0;
        width: 45%;
        max-height: 42px;
        float: left;
        &>input {
          width: 100%;
          height: 42px;
          line-height: 42px;
          border: 0;
          border-radius: 3px;
          vertical-align: top;
        }
        &.daterange-wrapper {
          position: relative;
          width: 285px;
          float: right;
          &>input {
            position: relative;
            padding-right: 25px;
            border: 1px solid #fff;
            background: transparent;
            box-shadow: none;
            -webkit-appearance: none;
            outline: none;
            z-index: 3;
            &.datepicker-opened {
              border: 1px solid #e2e2e2;
              border-bottom: 1px solid #fff;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
            }
            &:focus {
              outline:0;
            }
          }
          .white-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            border-radius: 3px;
            z-index: 1;
          }
          .icon-downbutton4 {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 2;
          }
        }
      }
      .selectric-wrapper {
        width: 100%;
      }
    }
  }
  .right-column {
    width: 40%;
  }
  @media (max-width: 1199px) {
    .left-column {
      width: 75%;
    }
    .right-column {
      width: 25%;
    }
  }
  @media (max-width: 991px) {
    .left-column {
      width: 100%;
    }
    .right-column {
      width: 100%;
      padding-right: 15px;
    }
  }
  @media (max-width: 767px) {
    .left-column .blue-select-wrapper {
      text-align: center;
      .field-wrapper {
        width: 100%;
        float: none;
        margin-bottom: 10px;
        &.daterange-wrapper {
          float: none;
          margin: 0 auto;
        }
        input {
          max-width: 285px;
        }
      }
    }
    .right-column {
      text-align: center;
      .btn-orange {
        float: none !important;
      }
    }
  }
}
