.reports-user-activity-summary.detailed {
  .reports-user-activity-summary-body {
    .content {
      table {
        tr {
          border-color: #dfdfdf;
          &:first-child {
            border-bottom: 1px solid #aaa9a9;
          }
          th,
          td {
            font-size: 13px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            &:after {
            }
            &:first-child {
            }
            &:last-child {
              &:after {
              }
            }
          }
          th {
            padding-top: 15px;
            padding-bottom: 15px;
            &:after {
              height: calc(100% - 16px);
              top: 8px;
            }
          }
          td {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  .reports-user-activity-summary-nav {
    margin-top: 16px;
    text-align: center;
    select {
      height: 34px;
      padding: 0 20px 0 10px;
      font-size: 14px;
      line-height: 34px;
      background: #fff;
      border: 1px solid #c1c0c0;
      border-radius: 3px;
      background: url(../img/select-bg.png) no-repeat 95% 50%;
      background-size: 4%;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }
    a {
      color: #23527c;
      font-weight: 600;
      line-height: 34px;
      [class^="icon-"] {
        margin-left: 7px;
      }
      &:hover {
        color: #27aae1;
      }
    }
  }
  @media (max-width: 991px) {
    .reports-user-activity-summary-body .content .table-wrapper {
      overflow-x: scroll;
    }
    .reports-user-activity-summary-body .content table {
      min-width: 848px;
    }
  }
  @media (max-width: 767px) {
    .reports-user-activity-summary-nav {
      select {
        margin-bottom: 16px;
      }
    }
  }
}
