.support-mobile {
  padding: 0 30px 5vh;
  &-title {
    margin: 0;
    padding: 1.5vh 0 4.51vh;
    font-size: 3.9vh;
    font-weight: 300;
    text-align: center;
    color: #cdcccc;
    [class^="icon-"] {
      position: relative;
      color: #f39407;
    }
    .icon-backbutton {
      margin-right: 16px;
      font-size: 2.8vh;
    }
    .icon-new-messages {
      top: 0.45vh;
      margin-left: 16px;
      font-size: 4.51vh;
    }
    .link-backbutton {
      float: left;
    }
    .link-new-messages {
      float: right;
    }
    .is-transparent {
      opacity: 0;
    }
  }

  &-list {
    height: 79.5vh;
    padding: 0;
    list-style: none;
    background: #f2f3f4;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2.49px 0.51px rgba(0, 0, 0, 0.51) inset;
    overflow: auto;
    .support-tickets-item {
      position: relative;
      padding: 0 9px;
      @include transition(all .2s ease);
      &:hover {
        background: #dfdcdc;
        .item-link {
          border-bottom: 1px solid transparent;
        }
      }
      &.bold {
        .item-title {
          font-weight: 700;
        }
      }
      &.light-grey {
        .item-title {
          color: #b6b6b6;
        }
      }
      .item-link {
        display: table;
        width: 100%;
        padding: 0.75vh 0;
        font-size: 2.1vh;
        color: #616160;
        border-bottom: 1px solid #dcdcde;
        .item-title {
          line-height: 3.3vh;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .item-date {
          font-size: 1.8vh;
        }
      }
    }
  }

  &-chat {
    height: 63vh;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2.49px 0.51px rgba(0, 0, 0, 0.51) inset;

    .support-mobile-chat-container {
      width: 100%;
      height: 100%;
      padding: 0 8px;
      opacity: 0;
      overflow: auto;
    }

    .chat-message {
      float: right;
      max-width: 245px;
      margin-top: 3.3vh;
      font-size: 2.1vh;
      line-height: 1.2;
      clear: both;
      &:last-child {
        margin-bottom: 3.3vh;
      }
      &-date {
        font-style: italic;
        line-height: 1.4;
        text-align: right;
      }
      &-body {
        padding: 0.75vh;
        background: #fdddba;
        border-radius: 5px;
        span {
          white-space: pre-wrap
        }
      }

      &.support-message {
        float: left;
        .chat-message-date {
          text-align: left;
        }
        .chat-message-body {
          background: #bfdff3;
        }
      }
    }
  }

  &-chat-form {
    margin: 1.5vh 0 0;
    .user-form-container {
      background: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
      box-shadow: 0px 1px 2.49px 0.51px rgba(0, 0, 0, 0.51) inset;
    }
    .form-fields-wrapper {
      padding: 0;
      .textarea-wrapper {
        position: relative;
        #chatMessage {
          height: 10.2vh;
          padding: 0.75vh 1.2vh;
          font-size: 2.1vh;
          border: 0;
          border-radius: 4px;
          resize: none;
          vertical-align: top;
          box-shadow: inset 0 1px 2.49px 0.51px rgba(0,0,0,.51);
        }
        #chatFile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
          & + label {
            position: absolute;
            top: 0.6vh;
            right: 0.6vh;
            width: 3.3vh;
            height: 3.3vh;
            text-align: center;
            line-height: 3.3vh;
            background: #e6e2e2;
            border-radius: 4px;
            cursor: pointer;
            [class^="icon-"] {
              position: relative;
              color: #2daae1;
              font-size: 2.7vh;
              &:before {
                vertical-align: top;
              }
            }
            .icon-attachment {
              top: 0.4vh;
            }
            .icon-check {
              top: 0.4vh;
              font-size: 2.1vh;
            }
          }
        }
      }
    }
    .form-buttons {
      margin: 0.75vh 0 0;
      .checkbox-container {
        display: inline-block;
        float: left;
        input {
          margin: 0;
          vertical-align: middle;
        }
        label {
          margin: 0 0 0 0.45vh;
          font-size: 2.1vh;
          font-weight: 400;
          color: #bababa;
          vertical-align: middle;
        }
      }
      .btn-send {
        min-width: 0;
        padding: 0;
        font-size: 2.4vh;
        color: #2babe3;
        text-transform: none;
        background: transparent;
      }
    }
  }
}
