.support-tickets {
  display: table;
  width: 100%;
  &.add-min-height {
    min-height: calc(100vh - 350px);
  }
  .left-column,
  .right-column {
    width: 50%;
    float: left;
  }
  .left-column {
    padding-right: 5px;
    .grey-container {
      padding: 15px 0;
      background: #f2f3f4;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .user-form {
      margin-bottom: 22px;
      padding: 0 20px;
      .form-fields-wrapper {
        padding: 0;
        background: transparent;
        .transparent-select-wrapper {
          padding: 0;
          .selectric-wrapper {
            max-width: 320px;
            .selectric {
              border: 2px solid #2daae1;
              border-radius: 4px;
            }
            &.selectric-open {
              .selectric {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
              }
              .selectric-items {
                border: 2px solid #2daae1;
                border-top: 0;
                .selectric-scroll {
                  ul {
                    li {
                      padding-top: 15px;
                      padding-bottom: 15px;
                      &.selected,
                      &:hover {
                        background: #2daae1;
                      }
                      &:first-child {
                        margin-top: 4px;
                        &:before {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .support-tickets-list {
      list-style: none;
      padding: 0;
      .support-tickets-item {
        position: relative;
        padding: 0 20px;
        @include transition(all .2s ease);
        &:hover {
          background: #dfdcdc;
          .item-link {
            border-bottom: 1px solid transparent;
          }
        }
        &.bold {
          .item-title {
            font-weight: 700;
          }
        }
        &.light-grey {
          .item-title {
            color: #b6b6b6;
          }
        }
        .item-link {
          display: table;
          width: 100%;
          padding: 9px 0;
          font-size: 17px;
          line-height: 24px;
          color: #60605f;
          border-bottom: 1px solid #c2c3c5;
          white-space: nowrap;
          .item-title {
            float: left;
            width: 73%;
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .item-date {
            float: right;
            width: 27%;
            text-align: right;
          }
        }
        .tooltip {
          opacity: 1;
          left: 50px !important;
          transition: none;
          .tooltip-inner {
            max-width: none;
            font-size: 16px;
            color: #60605f;
            background: #dfdcdc;
            border-radius: 0;
            white-space: nowrap;
          }
          .tooltip-arrow {
            display: none;
          }
        }
      }
    }
    .support-tickets-nav {
      margin-top: 20px;
      padding: 0 20px;
      text-align: center;
      a {
        margin-right: 3px;
        color: #acacac;
        &.inactive-arrow:hover {
          cursor: default;
          color: #acacac;
        }
        &.active-arrow {
          color: #1e1e1e;
        }
        &.active,
        &:hover {
          color: #f39424;
        }
      }
    }
  }
  .right-column {
    padding-left: 5px;
    .support-chat {
      //padding: 0 20px;
      border: 2px solid #2daae1;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      .chat-messages {
        width: 100%;
        height: 373px;
        padding: 0 5px 0 20px;
        overflow: hidden;
        .chat-messages-container {
          width: 100%;
          height: 100%;
          padding-right: 15px;
          overflow: auto;
          // padding-right: 20px;
          // box-sizing: content-box;
          opacity: 0;
        }
        .chat-message {
          float: right;
          max-width: 380px;
          margin-top: 22px;
          font-size: 14px;
          clear: both;
          &:last-child {
            margin-bottom: 17px;
          }
          &-date {
            font-style: italic;
            text-align: right;
          }
          &-body {
            padding: 5px 14px;
            background: #fdddba;
            border-radius: 5px;
            span {
              white-space: pre-wrap
            }
          }

          &.support-message {
            float: left;
            .chat-message-date {
              text-align: left;
            }
            .chat-message-body {
              background: #bfdff3;
            }
          }
        }
      }

      .chat-form {
        padding: 0 20px;
        .form-fields-wrapper {
          padding: 0;
          .textarea-wrapper {
            position: relative;
            #chatMessage {
              height: 92px;
              padding: 10px;
              background: #f8f9f9;
              border-radius: 4px;
              resize: none;
              vertical-align: top;
            }
            #chatFile {
              width: 0.1px;
              height: 0.1px;
              opacity: 0;
              overflow: hidden;
              position: absolute;
              z-index: -1;
              & + label {
                position: absolute;
                top: 4px;
                right: 4px;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 28px;
                background: #e6e2e2;
                border: 1px solid #2daae1;
                border-radius: 4px;
                cursor: pointer;
                [class^="icon-"] {
                  color: #2daae1;
                  font-size: 24px;
                  &:before {
                    vertical-align: middle;
                  }
                }
                .icon-check {
                  font-size: 18px;
                }
              }
            }
          }
        }
        .form-buttons {
          margin: 12px 0 10px;
          .checkbox-container {
            display: inline-block;
            float: left;
            line-height: 34px;
            input {
              margin: 0;
              vertical-align: middle;
            }
            label {
              margin: 0 0 0 5px;
              font-size: 18px;
              font-weight: 400;
              color: #bababa;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1199px) {
    .left-column {
      .support-tickets-list {
        .support-tickets-item {
          .item-link {
            font-size: 16px;
            .item-title {
              width: 68%;
            }
            .item-date {
              width: 32%;
            }
          }
        }
      }
      .user-form .form-fields-wrapper .transparent-select-wrapper .selectric-wrapper .selectric .label {
        font-size: 17px;
      }
    }
  }
  @media (max-width: 991px) {
    .left-column,
    .right-column {
      width: 100%;
      padding: 0;
    }
    .right-column {
      margin-top: 20px;
    }
  }
  @media (max-width: 767px) {
    .left-column,
    .right-column {
      width: 100%;
    }
    .left-column {
      .support-tickets-list {
        .support-tickets-item {
          .item-link {
            white-space: initial;
            .item-title,
            .item-date {
              width: 100%;
            }
            .item-date {
              text-align: left;
            }
          }
        }
      }
    }
    .right-column .support-chat {
      .chat-messages .chat-messages-container {
        opacity: 1;
      }
      .chat-form .form-buttons {
        text-align: center;
        .checkbox-container {
          width: 100%;
        }
        .btn-send {
          margin-top: 15px;
        }
      }
    }
  }
}
