.top-charts {
  margin: 14px 0 12px;
  .top-charts-row {
    margin: 0 -7px;
    &:before,
    &:after {
      display: table;
      content: " ";
    }
    &:after {
      clear: both;
    }
  }

  .top-charts-welcome-wrapper,
  .top-charts-users-wrapper,
  .top-charts-devices-wrapper {
    float: left;
    padding: 0 7px;
    .same-height {
      height: 230px;
    }
  }
  .top-charts-welcome-wrapper {
    width: 26%;
  }
  .top-charts-users-wrapper,
  .top-charts-devices-wrapper {
    width: 37%;
  }

  &-welcome {
    &-title {
      margin-bottom: 12px;
      padding: 8px 16px;
      font-size: 28px;
      font-weight: 600;
      color: #fff;
      background: #2daae1;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &-numbers {
      display: table;
      width: 100%;
      padding: 32px 0 28px;
      background: #fff;
      color: #666362;
      font-size: 20px;
      text-align: center;
      .numbers-requests,
      .numbers-alerts {
        width: 50%;
        float: left;
        padding: 0 15px;
        border-right: 1px solid #c6c6c6;
        p {
          margin-bottom: 0;
        }
        p.title {
          line-height: 1.2;
        }
        p.number {
          margin-top: 10px;
          font-size: 44px;
          font-weight: 700;
          line-height: 1;
          color: #ec2227;
        }
      }
      .numbers-alerts {
        width: 50%;
        float: left;
        padding: 0 15px;
        border: 0;
        p.title {
          height: 48px;
        }
        p.number {
          color: #666362;
        }
      }
    }
  }

  &-users,
  &-devices {
    display: table;
    width: 100%;
    padding: 9px 20px;
    background: #fff;
    p.title {
      margin-bottom: 0;
      span {
        padding-bottom: 6px;
        font-size: 27px;
        font-weight: 600;
        color: #27aae1;
        border-bottom: 1px solid #c6c6c6;
      }
    }
    &-text {
      width: 50%;
      float: left;
      padding-top: 27px;
      font-size: 19px;
      p {
        margin-bottom: 5px;
      }
      p.blue {
        color: #2aaae2;
      }
      p.orange {
        color: #f79421;
      }
      p.green {
        color: #079247;
      }
      p.red {
        color: #ec2227;
      }
    }
    &-chart {
      width: 50%;
      float: left;
      canvas {
        max-width: 162px;
      }
    }
  }
  &-devices {
    border-top-right-radius: 5px;
  }
  @media (max-width: 1199px) {
    margin: 14px 0;
    .top-charts-welcome-wrapper {
      width: 100%;
      margin-bottom: 14px;
      .top-charts-welcome {
        &.same-height {
          height: auto;
        }
        &-title {
          width: 20%;
          float: left;
          margin: 0;
          border-top-right-radius: 0;
        }
        &-numbers {
          display: block;
          width: 80%;
          float: left;
          padding: 0;
          border-top-right-radius: 5px;
          .numbers-alerts,
          .numbers-requests {
            width: 50%;
            padding: 8px 16px;
            p {
              height: auto;
              display: inline-block;
              margin: 0;
              line-height: 40px;
              vertical-align: top;
              &.title {
                margin-right: 10px;
                &:after {
                  content: ':';
                }
              }
              &.number {
                font-size: 38px;
              }
            }
          }
        }
      }
    }
    .top-charts-devices-wrapper,
    .top-charts-users-wrapper {
      width: 50%;
      .top-charts-devices {
        border-top-right-radius: 0;
      }
      .top-charts-devices-text,
      .top-charts-users-text {
        font-size: 21px;
      }
    }
  }
  @media (max-width: 991px) {
    .top-charts-welcome-title {
      font-size: 24px;
      line-height: 40px;
    }
    &-devices,
    &-users {
      p.title {
        span {
          font-size: 22px;
        }
      }
    }
    .top-charts-devices-wrapper,
    .top-charts-users-wrapper {
      .top-charts-devices-text,
      .top-charts-users-text {
        font-size: 16px;
      }
    }
    .top-charts-devices-chart,
    .top-charts-users-chart {
      canvas {
        max-width: 140px;
      }
    }
  }
  @media (max-width: 767px) {
    .top-charts-welcome-wrapper {
      .top-charts-welcome-title {
        width: 100%;
        margin-bottom: 12px;
        border-top-right-radius: 5px;
        text-align: center;
      }
      .top-charts-welcome-numbers {
        width: 100%;
        padding: 15px 0;
        border-radius: 0;
        .numbers-requests,
        .numbers-alerts {
          padding: 0 10px;
          p.title {
            max-width: 150px;
            display: block;
            line-height: 1;
            margin: 0 auto 10px;
            &:after {
              display: none;
            }
          }
        }
        .numbers-alerts {
          p.title {
            height: 40px;
          }
        }
      }
    }
    .top-charts-devices-wrapper,
    .top-charts-users-wrapper {
      width: 100%;
      margin-bottom: 14px;
      .same-height {
        height: auto;
      }
      .top-charts-users,
      .top-charts-devices {
        padding: 10px 10px 20px;
        .top-charts-users-text,
        .top-charts-devices-text {
          width: 55%;
        }
        .top-charts-devices-chart,
        .top-charts-users-chart {
          width: 45%;
        }
      }
    }
  }
}
