%blue-select-wrapper {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 52px;
  color: #606161;
  background: #2daae1;
  border-radius: 3px;
  border: 0;
  label.error {
    height: auto;
    line-height: 1.42857143;
    font-size: 16px;
  }
  .selectric-wrapper {
    max-width: 352px;
    .selectric {
      background: #fff;
      border: 1px solid #fff;
      border-radius: 3px;
      .label {
        height: 40px;
        margin: 0;
        padding: 0 0 0 12px;
        font-size: 18px;
        font-weight: 400;
        color: #666362;
        line-height: 40px;
        text-align: left;
      }
      .button {
        font-family: icomoon!important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: #666362;
        background: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &:before {
          content: "\e905";
          position: absolute;
          width: 40px;
          height: 38px;
          top: 0;
          right: 0;
          border: 0;
          font-size: 18px;
          line-height: 38px;
        }
        &:after {
          display: none;
        }
      }
    }
    &.selectric-open {
      .selectric {
        border: 1px solid #e2e2e2;
        border-bottom: 1px solid #fff;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .selectric-items {
        padding-bottom: 5px;
        border: 1px solid #e2e2e2;
        border-top: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background: #fff;
        .selectric-scroll {
          ul {
            li {
              position: relative;
              padding: 10px 12px;
              font-size: 18px;
              color: #666362;
              &.selected,
              &.highlighted,
              &:hover {
                font-weight: 600;
                color: #fff;
                background: #f39407;
              }
              &.disabled {
                display: none;
              }
              &:before {
                content: '';
                position: absolute;
                width: calc(100% - 24px);
                height: 1px;
                top: 0;
                left: 12px;
                background: #e2e2e2;
              }
            }
          }
        }
      }
      &.selectric-above {
        .selectric {
          border: 1px solid #e2e2e2;
          border-top: 1px solid #fff;
          border-radius: 3px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        .selectric-items {
          padding: 5px 0 0;
          border: 1px solid #e2e2e2;
          border-bottom: 0;
          border-radius: 3px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          ul {
            li {
              &:before {
                top: auto;
                bottom: 0;
              }
            }
          }
        }
      }
    }
    &.selectric-dropdown-as-block {
      pointer-events: none;
      cursor: default;
      .selectric {
        .button {
          display: none;
        }
      }
    }
  }
}


.user-form {
  .form-fields-wrapper {
    padding: 17px 33px;
    background: #fff;
    border-radius: 5px;
    label.error {
      display: block;
      margin-top: 5px;
      color: #e30b18;
    }
    .field-wrapper {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      &>input {
        width: 100%;
        height: 56px;
        padding-left: 20px;
        font-size: 18px;
        line-height: 52px;
        color: #606161;
        border: 2px solid #2daae1;
        border-radius: 3px;
      }
      input::-webkit-input-placeholder {
        color: #606161;
      }
      input::-moz-placeholder {
        color: #606161;
      }
      input:-ms-input-placeholder {
        color: #606161;
      }
      input:-moz-placeholder {
        color: #606161;
      }
    }
    textarea {
      width: 100%;
      height: 194px;
      padding: 15px 10px;
      font-size: 16px;
      border: 2px solid #2daae1;
      border-radius: 3px;
    }
    // .blue-select-wrapper {
    //   width: 100%;
    //   height: 56px;
    //   padding-left: 20px;
    //   font-size: 18px;
    //   line-height: 52px;
    //   color: #606161;
    //   border: 2px solid #2daae1;
    //   border-radius: 3px;
    // }
    input::-webkit-input-placeholder {
      color: #606161;
    }
    input::-moz-placeholder {
      color: #606161;
    }
    input:-ms-input-placeholder {
      color: #606161;
    }
    input:-moz-placeholder {
      color: #606161;
    }
    .blue-select-wrapper,
    .transparent-select-wrapper {
      @extend %blue-select-wrapper;
    }
    .transparent-select-wrapper {
      background: transparent;
    }
  }
  .onoffswitch {
    position: relative;
    width: 74px;
    margin: 30px 0 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    .onoffswitch-checkbox {
      display: none;
    }
    .onoffswitch-label {
      display: block;
      margin-bottom: 0;
      overflow: hidden;
      cursor: pointer;
      border-radius: 5px;
    }
    .onoffswitch-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:after,
    .onoffswitch-inner:before {
      display: block;
      float: left;
      width: 50%;
      height: 32px;
      padding: 0;
      line-height: 32px;
      font-size: 14px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box;
    }
    .onoffswitch-inner:before {
      content: "ON";
      padding-left: 10px;
      background-color: #2D2E83;
      color: #FFFFFF;
    }
    .onoffswitch-inner:after {
      content: "OFF";
      padding-right: 8px;
      background-color: #C6C6C6;
      color: #fff;
      text-align: right;
    }
    .onoffswitch-switch {
      display: block;
      width: 24px;
      margin: 4px;
      background: #FFFFFF;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 42px;
      border-radius: 3px;
      transition: all 0.3s ease-in 0s;
    }
    .onoffswitch-desc {
      position: absolute;
      top: 0;
      right: -325px;
      width: 310px;
      font-size: 19px;
      font-weight: 400;
      line-height: 32px;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-desc {
      font-weight: 600;
    }
  }
  .form-buttons {
    margin: 24px 0 0;
    text-align: right;
    button {
      min-width: 120px;
      margin-left: 2px;
      border: 0;
      text-transform: uppercase;
      [class^="icon-"] {
        display: inline-block;
        margin-top: 9px;
        vertical-align: top;
      }
    }
  }
  @media (max-width: 1199px) {
    .form-fields-wrapper {
      input {
        height: 60px;
        line-height: 56px;
      }
      .blue-select-wrapper {
        .selectric-wrapper {
          .selectric {
            .label {
              height: 40px;
              line-height: 40px;
            }
            .button:before {
              height: 38px;
              line-height: 36px;
            }
          }
          .selectric-items {
            .selectric-scroll {
              ul {
                li {
                  padding: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .form-fields-wrapper {
      padding: 15px;
      .field-wrapper .error {
        font-size: 14px;
      }
      input {
        height: 50px;
        padding-left: 15px;
        font-size: 16px;
        line-height: 46px;
      }
      select {
        font-size: 16px;
      }
      .blue-select-wrapper .selectric-wrapper .selectric .label {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
      }
      .blue-select-wrapper .selectric-wrapper .selectric .label .button:before {
        height: 38px;
        line-height: 36px;
      }
    }
    .onoffswitch {
      margin: 20px 0 3px;
      .onoffswitch-desc {
        top: 5px;
        right: -225px;
        width: 220px;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
